@page "/authorizations"

@inject Client.Services.IAccessRequestApi api

<PageTitle>ProFile Access - Authorizations</PageTitle>

<h1 style="display: flex; align-items: center; gap: 0.5rem;">
    <FluentIcon Value="@(new Icons.Regular.Size24.DoorArrowLeft())" Color="Color.Accent" />
    Authorizations
</h1>

Hello Joe

@code {
    // You can add C# code here if needed
}
