@page "/groups"

@inject Client.Services.IAccessRequestApi api

<PageTitle>ProFile Access - Group Management</PageTitle>

<h1 style="display: flex; align-items: center; gap: 0.5rem;">
    <FluentIcon Value="@(new Icons.Regular.Size32.PeopleCommunity())" Color="Color.Accent" />
    Group Management
</h1>


Hello Joe

@code {
    // You can add C# code here if needed
}
