@page "/users"

@inject Client.Services.IAccessRequestApi api

<PageTitle>ProFile Access - User Management</PageTitle>

<h1 style="display: flex; align-items: center; gap: 0.5rem;">
    <FluentIcon Value="@(new Icons.Regular.Size32.PeopleEdit())" Color="Color.Accent" />
    User Management
</h1>


Hello Joe

@code {
    // You can add C# code here if needed
}
