@inherits LayoutComponentBase
@using Client.Components.VersionInfo
@using Microsoft.FluentUI.AspNetCore.Components

<FluentLayout>
    <FluentHeader>
        <FluentStack>
            <img src="access-32x32.png" alt="ProFile Access Management" style="height: 30px; margin-right: 8px;" />
            ProFile Access Management
        </FluentStack>
        <FluentStack HorizontalAlignment="@HorizontalAlignment.End" VerticalAlignment="@VerticalAlignment.Center"
            Style="height: 48px; padding-inline-end: 10px; ">
            <FluentProfileMenu HeaderLabel="DFIN" Initials="BG" FullName="Bill Gates" EMail="bill.gates@microsoft.com"
                PopoverStyle="min-width: 330px;" FooterLink="" />
        </FluentStack>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="footer-section">
            <VersionInfoFooterDisplay />
        </div>
        <FluentSpacer />
        <div class="footer-section">DFIN&reg; 2025</div>
    </FluentFooter>
</FluentLayout>
